<div class="modal fade" id="message_modal_form">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--<div class="modal-header">
				<h4 class="modal-title">{{ctrl.message.properties.label}}</h4>
				<button type="button" class="right btn-head" data-dismiss="modal" data-ng-click="ctrl.close()">
					<i class="fa fa-close"></i>
				</button>
			</div>-->
			<div class="modal-body text-justify">
				
				<!--include:message/component.form-->
					
			</div>
			<div class="modal-footer-bg"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" title="cerrar" data-dismiss="modal" data-ng-click="ctrl.close()">
					<i class="fa fa-close"></i>
				</button>
			</div>
		</div>
	</div>
</div>