.message_form{
	color: black;
	margin-bottom: 0px;
	padding: 25px;
}
.message_form .form-control{
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
	color: black;
	background: white;
	border: 1px solid black;
}
.message_form button{
	background: black;
	color: white;
	border-radius: 0px;
}