###########################
#archivo de configuracion##
#para no subir al servidor#
###########################

#dependencias del lado servidor
###############################
node_modules/*

#dependencias de lado cliente
#################
frontend/assets/bower_components/*

#images
frontend/assets/media/img/blog/*
frontend/assets/media/img/product/*
frontend/assets/media/img/story/*

#package-lock
#################
package-lock.json
log.csv