<!doctype html>
<html>
	<head>
	
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="{{data:(doc.keywords || doc.config.properties.meta.keywords)}}" />
		<meta name="description" content="{{data:(doc.description || doc.config.properties.meta.description)}}" />
		<meta name="Author" content="{{data:(doc.author || doc.config.properties.meta.author)}}" />
		
		<title>{{data:(doc.title || doc.config.properties.meta.title)}}</title>

		<meta property="og:title" content="{{data:(doc.title || doc.config.properties.meta.title)}}" />
		<meta property="og:image" content="{{data:doc.config.properties.host}}{{data:(doc.img || '/assets/media/img/logo.png')}}" />

		<base href="/" />
		
		<link rel="shortcut icon" href="assets/media/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/media/img/favicon.ico" type="image/x-icon">
		
		<link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/bower_components/jquery-ui/themes/base/jquery-ui.min.css" />
		<link rel="stylesheet" href="app/main.css" media="all"/>
		
		<!--@IONIC-->
		<script type="module"	src="assets/lib/@ionic/pwa-elements/1.5.2/dist/ionicpwaelements/ionicpwaelements.esm.js"></script>
		<script nomodule		src="assets/lib/@ionic/pwa-elements/1.5.2/dist/ionicpwaelements/ionicpwaelements.js"></script>
			
		<link rel="manifest" href="/manifest.json" />
		
		<!--if:doc.config.recaptcha && doc.config.recaptcha.enabled-->
		<script src='https://www.google.com/recaptcha/api.js'></script>
		<!--/if-->
		
	</head>
	<body>
		
		<div class="loader">
			<i class="fa fa-spin fa-spinner"></i>
		</div>
		
		<audio id="audio"></audio>
		
		<script src="assets/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="assets/bower_components/jquery-ui/jquery-ui.min.js"></script>
		<script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="assets/bower_components/ckeditor/ckeditor.js"></script>
		<script src="assets/bower_components/gojs/release/go.js"></script>
		<script src="assets/lib/vue2.4.2.js" ></script>
		<script src="assets/lib/qrcode.min.js"></script>
		<script src="assets/lib/instascan.min.js"></script>
		<script src="assets/lib/socket.io-2.3.0.js"></script>
		<script src="assets/lib/jcryption.js"></script>
		<script src="assets/lib/moment.js"></script>
		<script src="assets/lib/moment-with-locales.js"></script>
		<script src="assets/lib/capacitor.js"></script>
		<script src="assets/lib/canvasjs-2.3.2/canvasjs.min.js"></script>
		<script src="assets/lib/timeliner-2.31/js/timeliner.js"></script>
		<script src="assets/lib/trascender.js"></script>
		<script src="assets/lib/editHtml.js"></script>
		
		<script>
			moment.locale("es");
			
			const host ="{{data:doc.config.properties.host}}";
			const ip = "{{data:doc.ip}}";
			const headers = {{data:JSON.stringify(doc.headers)}};
			const user = {{data:((!doc.user)?"{}":JSON.stringify(doc.user))}};
			const pushcode = "{{data:doc.pushcode}}";
			const onOpen = {{data:((!doc.onOpen)?undefined:JSON.stringify(doc.onOpen))}};
			
			let template = '';
		</script>
		
		<div id="vue"></div>
		<!--define:main-->
		
		<script src="app/mainVue.js"></script>
		
	</body>
</html>