<div class="modal fade" id="twitter_modal_list">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" data-ng-click="ctrl.twitter.sort()">
					<i class="fa fa-sort"></i>
				</button>
				<h4 class="modal-title">{{ctrl.twitter.title}}</h4>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body" data-ng-show="ctrl.twitter.coll.length > 0">
				<!--DESKTOP-->
				<div class="hidden-xs">
					<div class="row">
						<div class="col-md-6" data-ng-repeat="row in ctrl.twitter.coll" data-ng-click="ctrl.pushStory('#twitter_modal_list');ctrl.twitter.read(row._id)" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_document">
							<article>
								<img src="/assets/media/img/logo.png" data-ng-src="{{row.thumb}}" alt="imagen de publicación" title="imagen de publicación"/>
								<div class="info">
									<h2>{{row.title}}</h2>
									<small title="{{row.datetitle}}">{{row.datefromnow}}</small>
								</div>
							</article>
						</div>
					</div>
					<br>
					<br>
					<a data-ng-click="ctrl.twitter.getCollection()" data-ng-show="ctrl.twitter.obtained<ctrl.twitter.cant">
						cargar más...
						<br>
						<span>{{ctrl.twitter.obtained}}/{{ctrl.twitter.cant}}</span>
					</a>
					<br>
					<br>
				</div>
				<!--MOBILE-->
				<article class="visible-xs" data-ng-show="ctrl.twitter.coll.length > 0" data-ng-click="ctrl.pushStory('#twitter_modal_list');ctrl.twitter.read(ctrl.twitter.coll[ctrl.twitter.index]._id)" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_document">
					<img src="/assets/media/img/logo.png" data-ng-src="{{ctrl.twitter.coll[ctrl.twitter.index].thumb}}" alt="imagen de publicación" title="imagen de publicación"/>
					<div class="info">
						<h2>{{ctrl.twitter.coll[ctrl.twitter.index].title}}</h2>
						<small title="{{ctrl.twitter.coll[ctrl.twitter.index].datetitle}}">{{ctrl.twitter.coll[ctrl.twitter.index].datefromnow}}</small>
					</div>
					<!--<p class="text-right">{{ctrl.twitter.coll[ctrl.twitter.index].resume}}</p>-->
				</article>
			</div>
			<div class="modal-body" data-ng-show="ctrl.twitter.coll.length == 0">
				<div class="alert alert-warning">
					<strong>Aún no existen registros!</strong>
				</div>
			</div>
			<!--MOBILE-->
			<div class="modal-footer visible-xs" data-ng-show="ctrl.twitter.coll.length > 0">
				<p>{{ctrl.twitter.index+1}}/{{ctrl.twitter.cant}}</p>
				<br>
				<button type="button" class="btn btn-default pull-left" data-ng-click="ctrl.twitter.detectSwipe='right';ctrl.twitter.handleDetect_list()" data-ng-show="ctrl.twitter.index!=0">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button type="button" class="btn btn-default pull-right" data-ng-click="ctrl.twitter.detectSwipe='left';ctrl.twitter.handleDetect_list()" data-ng-show="ctrl.twitter.index < ctrl.twitter.coll.length - 1">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>