<div class="modal fade" id="story_modal_document">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" title="Editar" data-ng-show="ctrl.story.canEdit()" data-ng-click="ctrl.pushStory('#story_modal_document');ctrl.story.edit()" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_form">
					<i class="fa fa-pencil"></i>
				</button>
				<h4 class="modal-title">
					{{ctrl.story.doc.title}}
				</h4>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body text-justify">
				<img src="/assets/media/img/logo.png" data-ng-src="{{ctrl.story.doc.img}}" class="img_main" alt="imagen de publicación" title="imagen de publicación"/>
				<br>
				<p>{{ctrl.story.doc.resume}}</p>
				<div id="story_document_content"></div>
				
				<div class="text-center">
					<button class="btn btn-default" data-dismiss="modal" data-ng-click="ctrl.story.loadMap()">
						<i class="fa fa-map-marker"></i>
					</button>
						
					<button class="btn btn-default" data-dismiss="modal" data-ng-click="ctrl.pushStory('#story_modal_document');ctrl.story.refreshConceptual()">
						<i class="fa fa-sitemap"></i>
					</button>
						
					<a class="btn btn-default" target="_blank" data-ng-repeat="font in ctrl.story.doc.font" data-ng-href="{{font}}" data-ng-click="ctrl.story.pushback()">
						<i class="fa fa-link"></i>
					</a>
				
					<br>
					<br>
						
					<small title="{{ctrl.story.doc.datetitle}}"><!--Escrito por {{ctrl.story.doc.author.nickname}}--> <span>{{ctrl.story.doc.datetitle}}, {{ctrl.story.doc.datefromnow}}</span></small>
				
				</div>
				
				<br>
				<br>
				
				<!--ACTIONS-->
				<div id="dvStoryRSS" class=" text-center">
					<button type="button" class="btn btn-default" title="Copy" data-ng-click="ctrl.story.copyURL('/story/' + ctrl.story.doc.uri)">
						<i class="fa fa-copy"></i>
					</button>
					<a href="/" data-ng-href="https://www.facebook.com/sharer/sharer.php?u={{ctrl.story.getURI('/story/' + ctrl.story.doc.uri)}}" class="btn btn-default" target="_blank" title="Facebook" >
						<i class="fa fa-facebook"></i>
					</a>
					<a href="/" data-ng-href="https://twitter.com/intent/tweet?text={{ctrl.story.doc.description}}&url={{ctrl.story.getURI('/story/' + ctrl.story.doc.uri)}}&hashtags={{ctrl.story.doc.hashtag}}" class="btn btn-default" target="_blank" title="Twitter" >
						<i class="fa fa-twitter"></i>
					</a>
					<a href="/" data-ng-href="https://api.whatsapp.com/send?text={{ctrl.story.doc.description}} {{ctrl.story.getURI('/story/' + ctrl.story.doc.uri)}}" class="btn btn-default" target="_blank" title="Whatsapp" >
						<i class="fa fa-whatsapp"></i>
					</a>
					<a href="/" data-ng-href="https://www.linkedin.com/sharing/share-offsite/?url={{ctrl.story.getURI('/story/' + ctrl.story.doc.uri)}}" class="btn btn-default" target="_blank" title="Linkedin" >
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<br>
				<br>
				
				<!--RELATIONS-->
				<div class="row">
					<div class="col-md-6" data-ng-repeat="relation in ctrl.story.doc.relation">
						<article>
							<img src="/assets/media/img/logo.png" data-ng-src="{{relation.thumb}}" data-ng-click="ctrl.story.read(relation._id)" alt="imagen de publicación" title="imagen de publicación"/>
							<div class="info">
								<h2>{{relation.title}}</h2>
								<small title="{{relation.datetitle}}">{{relation.datefromnow}}</small>
							</div>
						</article>
					</div>
				</div>
				
				<!--TAGS-->
				<p data-ng-repeat="tag in ctrl.story.doc.tag" class="bg-primary text-center" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_list" data-ng-click="ctrl.pushStory('#story_modal_document');ctrl.story.getByTag(tag,1)">{{tag}}</p>
				
				<!--COMMENT-->
				<button class="btn btn-block btn-warning" data-dismiss="modal" data-ng-click="ctrl.pushStory('#story_modal_document');ctrl.comment.load(ctrl.story.doc._id)" data-ng-show="ctrl.story.canComment()">
					Comentarios
				</button>
				
			</div>
		</div>
	</div>
</div>






