#conceptual_modal_document .modal-content{
	height: 100%;
}
#conceptual_modal_document .modal-body {
    padding: 0px;
    height: calc(100% - 50px);
    width: 100%;
}
#conceptual_modal_document .modal-body #conceptual_div_go{
	width: 100%;
	height: 100%;
}
@media (max-width: 768px) {
	#conceptual #conceptual_modal_form .modal-content{
		overflow: hidden;
	}
	#conceptual #conceptual_modal_form .modal-body{
		padding: 0px;
	}
}