<div class="modal fade" id="twitter_modal_tag">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group menu-inside btn-head left">
					<button type="button" class="dropdown-toggle btn-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="dropdown-menu">
						<li data-dismiss="modal" data-ng-click="ctrl.twitter.search()">
							<i class="fa fa-search"></i>
						</li>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.twitter.showCollectionInMap()">
							<i class="fa fa-map-marker"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.twitter.gotoConceptual()" data-ng-show="ctrl.twitter.setting.active">
							<i class="fa fa-sitemap"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.pushStory('#twitter_modal_tag')" data-toggle="modal" data-target="#twitter_modal_about">
							<i class="fa fa-info-circle"></i>
						</li>
					</ul>
				</div>
				<h4 class="modal-title">{{ctrl.twitter.title}}</h4>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body text-justify">
				<div class="row">
					<div class="col-md-4" data-ng-show="ctrl.twitter.canCreate()">
						<div class="jumbotron">
							<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#twitter_modal_tag');ctrl.twitter.new()" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_form">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<div class="col-md-4" data-ng-show="ctrl.twitter.canSetting()">
						<div class="jumbotron">
							<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#twitter_modal_tag');" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_setting">
								<i class="fa fa-cogs"></i>
							</button>
						</div>
					</div>
				</div>
				<p>Categorías
					<span class="pull-right" data-ng-click="ctrl.twitter.tagClose()" data-ng-show="ctrl.twitter.tagbk.length>1">
						<i class="fa fa-close" ></i>
					</span>
				</p>
				<div class="row">
					<div class="col-md-4" data-ng-repeat="row in ctrl.twitter.tag">
						<div class="jumbotron">
							<!--<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#twitter_modal_tag');ctrl.twitter.getByTag(tag)" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_list">-->
							<button class="btn btn-default btn-block" data-ng-click="ctrl.twitter.tagAsFolder(row.tag,row.label)">
								<span>{{row.label}}</span>
							</button>
						</div>
					</div>
				</div>
				<div data-ng-show="ctrl.twitter.coll.length>0">				
					<p>Registros</p>
					<div class="row">
						<div class="col-md-4" data-ng-repeat="row in ctrl.twitter.coll">
							<div class="jumbotron">
								<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#twitter_modal_tag');ctrl.twitter.read(row._id)" data-dismiss="modal" data-toggle="modal" data-target="#twitter_modal_document">
									<span>{{row.title}}</span>
								</button>
							</div>
						</div>
					</div>
					<a class="pull-right" data-ng-click="ctrl.twitter.getCollection()" data-ng-show="ctrl.twitter.obtained<ctrl.twitter.cant">
						cargar más...
						<br>
						<span>{{ctrl.twitter.obtained}}/{{ctrl.twitter.cant}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>