<!--address-->
<div class="block">
	<link rel="stylesheet" href="app/address/address.css" media="all"/>
	<div id="address">
		<div class="modal fade" id="address_modal_main">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="left btn-head" data-ng-show="ctrl.address.canEdit()" data-dismiss="modal" data-ng-click="ctrl.address.edit()">
							<i class="fa fa-pencil"></i>
						</button>
						<span class="modal-title">{{ctrl.address.properties.label}}</span>
						<button type="button" class="right btn-head" data-dismiss="modal" data-ng-click="ctrl.close()">
							<i class="fa fa-close"></i>
						</button>
					</div>
					<div class="modal-body text-justify" id="address_editable">
						<!--editable-->
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53116.30821197888!2d-71.23890782770198!3d-33.689038292875516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966300003f7690e5%3A0x582872cdf30d9dfe!2sMelipilla%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1611934740602!5m2!1ses-419!2scl" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="600" height="450" ></iframe>
						<!--/editable-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="app/address/address.js"></script>	
</div>