<div class="modal fade" id="object_modal_form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" title="colección de datos" data-dismiss="modal" data-ng-click="ctrl.pushStory('#object_modal_form');ctrl.object.openAPPCollection()" data-ng-show="!ctrl.object.isCreateMode();">
					<i class="fa fa-database"></i>
				</button>
				<h4 class="modal-title">
					<span data-ng-show="ctrl.object.isCreateMode()">Nuevo objeto</span>
					<span data-ng-show="ctrl.object.isReadMode() || ctrl.object.isEditMode()">Objeto {{ctrl.object.doc.label}}</span>
				</h4>
				<button type="button" class="right btn-head" data-dismiss="modal" data-ng-click="ctrl.close()">
					<i class="fa fa-close"></i>
				</button>
			</div>
			<div class="modal-body text-justify">
				<textarea class="form-control" rows="20" data-ng-model="ctrl.object.getDoc().content" data-ng-disabled="ctrl.object.isReadMode()"  data-ng-show="ctrl.object.action!==null"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-ng-click="ctrl.object.create()" data-ng-show="ctrl.object.isCreateMode()" title="Crear">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-danger" data-ng-click="ctrl.object.delete()" data-ng-show="ctrl.object.isEditMode()" title="Eliminar">
					<i class="fa fa-trash"></i>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="ctrl.object.edit()" data-ng-show="ctrl.object.isReadMode()" title="Editar">
					<i class="fa fa-pencil"></i>
				</button>
				<button type="button" class="btn btn-success" data-ng-click="ctrl.object.update()" data-ng-show="ctrl.object.isEditMode()" title="Actualizar">
					<i class="fa fa-check"></i>
				</button>
			</div>
		</div>
	</div>
</div>