<div class="modal fade" id="vue_modal_main">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ctrl.vue.properties.label}}</h4>
				<button type="button" class="right btn-head" data-dismiss="modal" data-ng-click="ctrl.close()">
					<i class="fa fa-close"></i>
				</button>
			</div>
			<div class="modal-body text-justify">
				
				<script src="assets/lib/vue2.4.2.js" referrerpolicy="no-referrer"></script>

				<div id="vueApp"></div>

				<template id="todo-add">
					<div>
						<input type="text" v-model="title" />
						<button @click="onClick">Añadir</button>
					</div>
				</template>
								
				<script>

					Vue.component('todo-item',{
						props: ['todo'],
						template: `
							<li>
								{{todo.title}}
							</li>
						`
					});
					
					Vue.component('todo-list',{
						props: ['todos'],
						template: `
							<ul>
								<todo-item 
									v-for="(todo,index) in todos" 
									:todo="todo">
								</todo-item>
							</ul>
						`
					});
					
					Vue.component('todo-add',{
						template: '#todo-add',
						data: function(){
							return {
								title: null
							}
						},
						methods: {
							onClick: function(){
								console.log(this.title);
								this.$emit('new',{title: this.title});
							}
						}
					});
					
					const app2 = new Vue({
						el: '#vueApp',
						data: {
							todos: [{
								title: 'tarea 1',
								completed: false
							},{
								title: 'tarea 2',
								completed: false
							},{
								title: 'tarea 3',
								completed: false
							}]
						},
						methods: {
							addNewTodo: function(todo){
								this.todos.push(todo);
							}
						},
						template: `
							<div>
								<todo-list :todos="todos"></todo-list>
								<todo-add @new="addNewTodo"></todo-add>
							</div>
						`
					});
				</script>
						
				
			</div>
		</div>
	</div>
</div>