<div class="modal fade" id="story_modal_form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" title="documento" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_document" data-ng-click="ctrl.pushStory('#story_modal_form');ctrl.story.read(ctrl.story.getDoc()._id)" data-ng-show="!ctrl.story.isCreateMode()">
					<i class="fa fa-wpforms"></i>
				</button>
				<h4 class="modal-title" data-ng-show="ctrl.story.isCreateMode()">
					story <small>Nuevo</small>
				</h4>
				<h4 class="modal-title" data-ng-show="ctrl.story.isReadMode() || ctrl.story.isEditMode()">
					{{ctrl.story.doc.title}}
				</h4>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body text-justify">
				<div class="form-group">
					<label>Año</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().year" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Mes</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().month" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Día</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().day" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Título</label>
					<input type="text" class="form-control" placeholder="Título" data-ng-model="ctrl.story.getDoc().title" data-ng-blur="ctrl.story.titleOnBlur()" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>URL</label>
					<input type="text" class="form-control" placeholder="URL" data-ng-model="ctrl.story.getDoc().uri" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group" data-ng-show="!ctrl.story.isCreateMode()">
					<label>Imagen</label>
					<br>
					<img src="/assets/media/img/logo.png" data-ng-src="{{ctrl.story.getDoc().img}}"  height="200" alt="imagen de publicación" title="imagen de publicación"/>
					<form method="post" action="{{ctrl.story.getPostFileUpload()}}" data-ng-show="ctrl.story.isEditMode()" enctype="multipart/form-data">
						<input type="file" class="form-control" name="file"/>
						<button type="submit" class="btn btn-primary">subir</button>
					</form>
					<label>Img</label>
					<input type="text" class="form-control" data-ng-model="ctrl.story.getDoc().img" data-ng-disabled="ctrl.story.isReadMode()"/>
					<br>
					<label>Thumb</label>
					<input type="text" class="form-control" data-ng-model="ctrl.story.getDoc().thumb" data-ng-disabled="ctrl.story.isReadMode()"/>
				</div>
				<div class="form-group">
					<label>Resumen</label>
					<input type="text" class="form-control" placeholder="Resumen" data-ng-model="ctrl.story.getDoc().resume" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Contenido</label>
					<input type="text" class="form-control" id="story_input_content" placeholder="Contenido" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Fuentes</label>
					<input id="story_input_font" type="text" class="form-control" placeholder="Agregar fuente" data-ng-model="ctrl.story.getDoc().fontbk" data-ng-disabled="ctrl.story.isReadMode()" data-ng-keypress="ctrl.story.addFont($event)">
					<ul class="list-unstyled list-inline">
						<li data-ng-repeat="row in ctrl.story.getDoc().font">
							<span class="label label-default">
								{{row}} 
								<i class="fa fa-close text-danger" data-ng-click="ctrl.story.removeFont($index)" data-ng-show="!ctrl.story.isReadMode()"></i>
							</span>
						</li>
					</ul>
				</div>
				<div class="form-group">
					<label>Tags</label>
					<input id="story_input_tag" type="text" class="form-control" placeholder="Agregar tag" data-ng-model="ctrl.story.getDoc().tagbk" data-ng-disabled="ctrl.story.isReadMode()" data-ng-keypress="ctrl.story.addTag($event)">
					<ul class="list-unstyled list-inline">
						<li data-ng-repeat="row in ctrl.story.getDoc().tag">
							<span class="label label-default">
								{{row}} 
								<i class="fa fa-close text-danger" data-ng-click="ctrl.story.removeTag($index)" data-ng-show="!ctrl.story.isReadMode()"></i>
							</span>
						</li>
					</ul>
				</div>
				<div class="form-group">
					<label>Tag Principal</label>
					<select class="form-control" data-ng-model="ctrl.story.getDoc().tag_main" data-ng-disabled="ctrl.story.isReadMode()">
						<option data-ng-repeat="row in ctrl.story.getDoc().tag">{{row}}</option>
					</select>
				</div>
				<hr>
				<label>UBICACIÓN</label>
				<button class="btn btn-warning btn-xs pull-right" data-dismiss="modal" data-ng-click="ctrl.story.setMap()">
					<i class="fa fa-map"></i>
				</button>
				<div class="form-group">
					<label>Latitud</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().map.lat" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Longitud</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().map.lng" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<div class="form-group">
					<label>Zoom</label>
					<input type="number" class="form-control" data-ng-model="ctrl.story.getDoc().map.zoom" data-ng-disabled="ctrl.story.isReadMode()">
				</div>
				<br>
				<br>
				<br>
			</div>
			<div class="modal-footer-bg" data-ng-show="ctrl.story.showFooter()"></div>
			<div class="modal-footer" data-ng-show="ctrl.story.showFooter()">
				<button type="button" class="btn btn-primary" title="Crear" data-ng-click="ctrl.story.create()" data-ng-show="ctrl.story.isCreateMode()">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-success" title="Actualizar" data-ng-click="ctrl.story.update()" data-ng-show="ctrl.story.isEditMode()">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-danger" title="Eliminar" data-ng-click="ctrl.story.delete()" data-ng-show="ctrl.story.isEditMode()">
					<i class="fa fa-trash"></i>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="ctrl.story.edit()" data-ng-show="ctrl.story.isReadMode()" title="Editar">
					<i class="fa fa-pencil"></i>
				</button>
			</div>
		</div>
	</div>
</div>