<div class="modal fade" id="story_modal_tag">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group menu-inside btn-head left">
					<button type="button" class="dropdown-toggle btn-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="dropdown-menu">
						<li data-dismiss="modal" data-ng-click="ctrl.story.search()">
							<i class="fa fa-search"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.story.gotoConceptual()" data-ng-show="ctrl.story.setting.active">
							<i class="fa fa-sitemap"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.story.showCollectionInMap()">
							<i class="fa fa-map-marker"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.pushStory('#story_modal_tag')" data-toggle="modal" data-target="#story_modal_about">
							<i class="fa fa-info-circle"></i>
						</li>
					</ul>
				</div>
				<h4 class="modal-title">{{ctrl.story.title}}</h4>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body text-justify">
				<div class="row">
					<div class="col-md-4" data-ng-show="ctrl.story.canCreate()">
						<div class="jumbotron">
							<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#story_modal_tag');ctrl.story.new()" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_form">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<div class="col-md-4" data-ng-show="ctrl.story.canSetting()">
						<div class="jumbotron">
							<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#story_modal_tag');" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_setting">
								<i class="fa fa-cogs"></i>
							</button>
						</div>
					</div>
				</div>
				<p>Categorías
					<span class="pull-right" data-ng-click="ctrl.story.tagClose()" data-ng-show="ctrl.story.tagbk.length>1">
						<i class="fa fa-close" ></i>
					</span>
				</p>
				<div class="jumbotron">
					<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#story_modal_tag');ctrl.story.getByToday()" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_list">
						<span>Un día como hoy</span>
					</button>
				</div>
				<div class="row">
					<div class="col-md-4" data-ng-repeat="row in ctrl.story.tag">
						<div class="jumbotron">
							<button class="btn btn-default btn-block" data-ng-click="ctrl.story.tagAsFolder(row.tag,row.label)">
								<span>{{row.label}}</span>
							</button>
						</div>
					</div>
				</div>
				<div data-ng-show="ctrl.story.coll.length>0">				
					<p>Registros</p>
					<div class="row">
						<div class="col-md-4" data-ng-repeat="row in ctrl.story.coll">
							<div class="jumbotron">
								<button class="btn btn-default btn-block" data-ng-click="ctrl.pushStory('#story_modal_tag');ctrl.story.read(row._id);ctrl.story.index=$index;" data-dismiss="modal" data-toggle="modal" data-target="#story_modal_document">
									<span>{{row.title}}</span>
								</button>
							</div>
						</div>
					</div>
					<a class="pull-right" data-ng-click="ctrl.story.getCollection()" data-ng-show="ctrl.story.obtained<ctrl.story.cant">
						cargar más...
						<br>
						<span>{{ctrl.story.obtained}}/{{ctrl.story.cant}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>