<div class="modal fade" id="product_modal_form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" title="documento" data-dismiss="modal" data-toggle="modal" data-target="#product_modal_document" data-ng-click="ctrl.pushStory('#product_modal_form');ctrl.product.read(ctrl.product.getDoc()._id)" data-ng-show="!ctrl.product.isCreateMode()">
					<i class="fa fa-wpforms"></i>
				</button>
				<span class="modal-title" data-ng-show="ctrl.product.isCreateMode()">
					product <small>Nuevo</small>
				</span>
				<span class="modal-title" data-ng-show="ctrl.product.isReadMode() || ctrl.product.isEditMode()">
					{{ctrl.product.doc.title}}
				</span>
				<!--include:view/btn.close-->
			</div>
			<div class="modal-body text-justify">
				<div class="form-group">
					<label>Título</label>
					<input type="text" class="form-control" placeholder="Título" data-ng-model="ctrl.product.getDoc().title" data-ng-blur="ctrl.product.titleOnBlur()" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<div class="form-group">
					<label>URL</label>
					<input type="text" class="form-control" placeholder="URL" data-ng-model="ctrl.product.getDoc().uri" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<div class="form-group" data-ng-show="!ctrl.product.isCreateMode()">
					<label>Imagen</label>
					<br>
					<img src="/assets/media/img/logo.png" data-ng-src="{{ctrl.product.getDoc().img}}"  height="200" alt="imagen de publicación" title="imagen de publicación"/>
					<form method="post" action="/" data-ng-show="ctrl.product.isEditMode()" enctype="multipart/form-data">
						<input type="file" class="form-control" name="file"/>
						<button type="submit" class="btn btn-primary">subir</button>
					</form>
					<label>Img</label>
					<input type="text" class="form-control" data-ng-model="ctrl.product.getDoc().img" data-ng-disabled="ctrl.product.isReadMode()"/>
					<br>
					<label>Thumb</label>
					<input type="text" class="form-control" data-ng-model="ctrl.product.getDoc().thumb" data-ng-disabled="ctrl.product.isReadMode()"/>
				</div>
				<div class="form-group">
					<label>Resumen</label>
					<input type="text" class="form-control" placeholder="Resumen" data-ng-model="ctrl.product.getDoc().resume" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<div class="form-group">
					<label>Contenido</label>
					<input type="text" class="form-control" id="product_input_content" placeholder="Contenido" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<div class="form-group">
					<label>Tags</label>
					<input id="product_input_tag" type="text" class="form-control" placeholder="Agregar tag" data-ng-model="ctrl.product.getDoc().tagbk" data-ng-disabled="ctrl.product.isReadMode()" data-ng-keypress="ctrl.product.addTag($event)">
					<ul class="list-unstyled list-inline">
						<li data-ng-repeat="row in ctrl.product.getDoc().tag">
							<span class="label label-default">
								{{row}} 
								<i class="fa fa-close text-danger" data-ng-click="ctrl.product.removeTag($index)" data-ng-show="!ctrl.product.isReadMode()"></i>
							</span>
						</li>
					</ul>
				</div>
				<div class="form-group">
					<label>Tag Principal</label>
					<select class="form-control" data-ng-model="ctrl.product.getDoc().tag_main" data-ng-disabled="ctrl.product.isReadMode()">
						<option data-ng-repeat="row in ctrl.product.getDoc().tag">{{row}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Precio</label>
					<input type="number" class="form-control" data-ng-model="ctrl.product.getDoc().price" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<div class="form-group">
					<label>Habilitado</label>
					<input type="checkbox" data-ng-model="ctrl.product.getDoc().active" data-ng-disabled="ctrl.product.isReadMode()">
				</div>
				<br>
				<br>
				<br>
			</div>
			<div class="modal-footer-bg" data-ng-show="ctrl.product.showFooter()"></div>
			<div class="modal-footer" data-ng-show="ctrl.product.showFooter()">
				<button type="button" class="btn btn-primary" title="Crear" data-ng-click="ctrl.product.create()" data-ng-show="ctrl.product.isCreateMode()">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-success" title="Actualizar" data-ng-click="ctrl.product.update()" data-ng-show="ctrl.product.isEditMode()">
					<i class="fa fa-check"></i>
				</button>
				<button type="button" class="btn btn-danger" title="Eliminar" data-ng-click="ctrl.product.delete()" data-ng-show="ctrl.product.isEditMode()">
					<i class="fa fa-trash"></i>
				</button>
				<button type="button" class="btn btn-default" data-ng-click="ctrl.product.edit()" data-ng-show="ctrl.product.isReadMode()" title="Editar">
					<i class="fa fa-pencil"></i>
				</button>
			</div>
		</div>
	</div>
</div>